html, body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(33, 29, 37);
    color: white;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;    
}

.App_name {
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    color: rgb(6, 239, 208);   
}

.input-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border-radius: 5px;    
}

.input {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    margin: 40px 0px;
}

.input-button {
    background-color: transparent;
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
    padding: 15px;
}

.container{
    overflow-y: auto;
    scrollbar-width:none;
}

.container .todo{
    background-color: #fb2d2d;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 90vw;
    font-size: larger;
    display: flex;
    justify-content: space-between;
}

.btn-del, .btn-edit{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: large;
}

.task{
    margin-left: 5px;
}

@media (min-width: 1024px) {
    .App_name, .input-container, .container .todo, .todo{
      width: 100vh;
    }
  }